<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Simple Note Taker</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>
<body ng-controller="mainController">
<div id="container" class="panel">
    <div class="header row panel-heading">
        <h1 class="panel-heading"> Simple Note Taker Application
            <button aria-label="Add Notes" class="btn btn-success" ng-click="addNewNote()"><i
                    class="glyphicon glyphicon-plus"></i></button>
        </h1>

    </div>
    <div class="note row" ng-repeat="note in notes">
        <h4 class="panel-heading">{{note.topic}}</h4>
        <p class="description panel-body">{{note.description}}</p>
        <div class="panel-footer">
            <p class="dateTime">created : {{note.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>
            <p class="dateTime">modified: {{note.updatedAt | date:'yyyy-MM-dd HH:mm'}}</p>
            <div class="row">
                <button aria-label="Delete Note" class="btn btn-danger" ng-click="deleteNote(note)"><i
                        class="glyphicon glyphicon-remove"></i>
                </button>
                <button aria-label="Edit Note" class="btn btn-success" ng-click="editNote(note)"><i
                        class="glyphicon glyphicon-pencil"></i>
                </button>
            </div>
        </div>
    </div>

</div>

<!-- modal window definition-->
<script type="text/ng-template" id="myTestModal.tmpl.html">
    <div class="modal-header">
        <h3>Add a new note</h3>
    </div>

    <div class="modal-body">
        <input type="text" placeholder="Enter the Title" ng-model="note.title">
        <textarea placeholder="Enter the Note" ng-model="note.desc"></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="saveNote()">Save Note
        </button>
    </div>
</script>

<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>